<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div style="text-align: center;">
        <a href="/">
            <img src="../assets/sketch3.png" alt="Enter" style="background: transparent; border: none; width:500px;"/>
        </a>
    </div>
</body>

</html>