* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  line-height: 1.6;
  color: white;
  padding: 20px;
  border-radius: 16px;
  line-height: 2;
  margin-bottom: 12px;
  background-color: black;
  background-image: url('../assets/star-pibl.png');
  background-size: auto;
  background-repeat: repeat;
  background-position: top left;
}

header {
  padding: 10px;
  border-radius: 16px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

section{
  width: 300px; 
  height: 500px;
  background-color: black;
  border: 1px solid white;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(255, 255, 255, 0.15);
}

footer {
  text-align: center;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: -12px;
}

p {
  color: white;
  line-height: 1.4;
}

a {
  color: white;
  text-decoration: none;
  transition: 
    background-color 0.7s ease, 
    color 0.7s ease;
  padding: 0px 1px;
}
a:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.center-links {
  text-align: center;
}

ul, ol {
  margin-left: 1em;
  padding-left: 1em;
}

hr {
  border: none;
  height: 2px;
  background: repeating-linear-gradient(
    to right,
    white 0,
    white 4px,
    transparent 4px,
    transparent 8px
  );
  margin: 25px 0;
}

#draggable-section {
  position: absolute;
  cursor: move;
  user-select: none;
}

/* Link icons */

.link-with-icon {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
}
.icon-image {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 8px;
}

.projects-link {
  background-image: url('../assets/sketch3.png');
}

.github-link {
  background-image: url('../assets/github-icon.png');
}

.linkedin-link {
  background-image: url('../assets/linkedin-icon.png');
}